<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hogwarts</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/student/new">Join Hogwarts</a></li>
      <li><a href="/students">View all students</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>