<form action="/students" method="post">
  
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" name="first_name">

  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" name="last_name">

  <label for="house-select">Select a House:</label>
  <select name="house_id" id="house-select">
    <%for house in @houses%>
      <option value="<%=house.id%>"><%=house.name()%></option>
    <%end%>
  </select>

  <label for="age">Age:</label>
  <input type="number" id="age" name="age">

  <input type="submit" value="Join Hogwarts">

</form>