<form action="/students" method="post">
  
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" name="first_name">

  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" name="last_name">

  <label for="house-select">Select a House:</label>
  <select name="house_id" id="house-select">
    <option value="1">Gryffindor</option>
    <option value="2">Hufflepuff</option>
    <option value="3">Ravenclaw</option>
    <option value="4">Slytherin</option>
  </select>

  <label for="age">Age:</label>
  <input type="number" id="age" name="age">

  <input type="submit" value="Join Hogwarts">

</form>