body {
  background: #351431;
  color: #D4AF37;
  font-family: 'Cinzel', serif;
}

header {
  background-image: url('http://az616578.vo.msecnd.net/files/2016/08/01/6360561629353435571471412419_The_Leaving_Feast_-_B4C37M1.png');
  background-position: top center;
  position: relative;        
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 20px;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-size: 2em;
}

form {
  font-size: 2em;
}


.cell {
  color: white;
}

#crest {
  height: 15em;
  display: inline-block;
}

#title {
  font-size: 5em;
  display: inline-block;
  vertical-align: middle;
}

#main_hall {
  display: inline-block;
  width: 60em;
}